[gpg]
	recipient = "46281506C8CB0C7B595CBB49FD702A19657AB22A"
[merge]
{{- if eq .chezmoi.hostname "pc-arch-jorik" }}
        command = "distrobox-enter"
        args = ["dev", "--", "/home/jorik/bin/emacsclient-merge", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{- else }}
        command = "emacsclient"
        args = ["--eval", "(ediff3 \"{{ "{{" }} .Destination {{ "}}" }}\" \"{{ "{{" }} .Source {{ "}}" }}\" \"{{ "{{" }} .Target {{ "}}" }}\")"]
{{- end }}
[data]
{{- if eq .chezmoi.hostname "pc-arch-jorik" }}
        mainMonitorWidth=3440
        mainMonitorHeight=1440
        useEncrypted=true
{{- else if eq .chezmoi.hostname "tmpworkstation" }}
        mainMonitorWidth=3840
        mainMonitorHeight=2160
        useEncrypted=true
{{- else }}
        mainMonitorWidth=1920
        mainMonitorHeight=1080
        useEncrypted=false
{{- end }}
