# Standard aliases
alias checkpatch=$HOME'/checkpatch/checkpatch.pl --no-tree -f'
alias watchcpu='watch -n 1 "cat /proc/cpuinfo | grep \"^[c]pu MHz\""'
alias wetter2='curl http://v2.wttr.in/Nuremberg'
alias wetter='curl http://wttr.in/Nuremberg'
alias vim='nvim'
alias mkycmconf='~/.vim/bundle/YCM-Generator/config_gen.py'
alias le="exa --color auto --group-directories-first --group --long --header --modified --sort=name --git --time-style=long-iso --classify"
alias lt="le --tree --level=2"
alias start="sh $HOME/bin/startup.sh"
alias macros="nohup python3 bin/macroboard.py macro > bin/macro.log &"
alias pubip='curl ifconfig.co'
alias pubipv4='curl ifconfig.me'
## fzf git aliases
# Select a branch with fzf and switch to it
alias gckof='git branch | fzf | cut --characters=3- | xargs --no-run-if-empty git checkout'
# Select a branch with fzf and merge it in the current branch
alias gmerf='git branch | fzf | cut --characters=3- | xargs --no-run-if-empty git merge'
# Output: abbreviated_commit_hash (%h) | commit_message (%s) | author_name (%an, in yellow) | commit_date_relative (%cr, in green)
alias glo='git log --pretty=format:"%h %C(bold)|%C(reset) %s %C(bold)|%C(reset) %C(yellow)%an%C(reset) %C(bold)|%C(reset) %C(green)%cr%C(reset)" --max-count=100'
# From the output of the glo alias, select with fzf the commit hash to rebase on
alias grebi='glo | fzf --ansi --no-sort | cut --delimiter=" " --fields=1 | xargs --no-run-if-empty -I % bash -c "</dev/tty git rebase --interactive %"'
# Select a commit with fzf and revert it
alias grevf='glo | fzf --ansi --no-sort | cut --delimiter=" " --fields=1 | xargs --no-run-if-empty git revert'
# Select a commit with fzf and show it
alias gshf='glo | fzf --ansi --no-sort --preview "echo {} | cut --delimiter=\" \" --fields=1 | xargs git show" | cut --delimiter=" " --fields=1 | xargs --no-run-if-empty git show'
# Select a stash with fzf and show it
alias gstaf='git stash list | fzf --no-sort | sed -n "s/^stash@{\(.*\)}.*/\1/p" | xargs --no-run-if-empty git stash show'

## fzf docker aliases
# Select Docker containers and remove them (with its volumes)
alias drmf='docker ps --all | fzf --header-lines=1 --multi | tr --squeeze-repeats " " | cut --delimiter=" " --fields=1 | xargs --no-run-if-empty docker rm --volumes'
# Select Docker containers and stop them
alias dstopf='docker ps | fzf --header-lines=1 --multi | tr --squeeze-repeats " " | cut --delimiter=" " --fields=1 | xargs --no-run-if-empty docker stop'
# Select a Docker container and start shell in it
alias dexecf='docker ps | fzf --header-lines=1 --multi | tr --squeeze-repeats " " | rev | cut --delimiter=" " --fields=1 | rev | xargs --no-run-if-empty -I % bash -c "</dev/tty docker exec --interactive --tty % bash --login"'
# Select Docker images and remove them
alias drmif='docker image ls | fzf --header-lines=1 --multi | tr --squeeze-repeats " " | cut --delimiter=" " --fields=3 | xargs --no-run-if-empty docker rmi --force'

# Suffix aliases
## Code
alias -s {c,cpp,rs}=nvim
## Text
alias -s {md,txt}=nvim
## Git
alias -s git='git clone'

# Global aliases
## Pipes
alias -g G='| grep'
alias -g L='| less'
alias -g V='| vim -'
alias -g Z='| fzf'
## New File
alias -g NF='./*(oc[1])'

# Functions
mkcd () {                                                                       
    mkdir -p -- "$1" &&                                                     
    cd -P -- "$1"                                                           
}

# Emacs
# Open in terminal
alias e="emacsclient -t -a ''"
# Open in standalone window
alias ec="emacsclient -c -n -a ''"
# Open in existing window, or start server
eo() {
    emacsclient -n "$@" 2>/dev/null || ec "$@"
}

# Spotify control
alias spottoggle="dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause"
alias spotnext="dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next"
alias spotprev="dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous"

# GUT
alias gut='godot -s addons/gut/gut_cmdln.gd -d --path $PWD'

# Calculator
cc() python3 -c "from math import *; print($*);"
alias calc='noglob cc'

{{- if eq .chezmoi.osRelease.id "opensuse-tumbleweed" }}
function vpncon () {
    if [ "$1" = "up" ]; then
        nmcli c up ac078c9b-8b7a-4a00-9b0b-22fd35f8a6f9
    elif [ "$1" = "down" ]; then
        nmcli c down ac078c9b-8b7a-4a00-9b0b-22fd35f8a6f9
    else
        echo "Wrong input"
    fi
}
{{- end }}

# Allow sudo to use user aliases
alias sudo='sudo '
