[user]
	signingkey = 46281506C8CB0C7B595CBB49FD702A19657AB22A
	{{- if .work }}
	email = jcronenberg@suse.de
	{{- else }}
	email = jorikcronenberg@mailbox.org
	{{- end }}
	name = Jorik Cronenberg
[core]
	excludesfile = ~/.gitignore
[commit]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	templatedir = ~/.git-templatedir
[rebase]
        updateRefs = true
[rerere]
	enabled = true
[alias]
	lo = "log --pretty=format:\"%h %C(bold)|%C(reset) %s %C(bold)|%C(reset) %C(yellow)%an%C(reset) %C(bold)|%C(reset) %C(green)%cr%C(reset)\" --max-count=100"
	shf = "! git lo | fzf --ansi --no-sort --preview \"echo {} | cut --delimiter=' ' --fields=1 | xargs git show -m --color=always\" | cut --delimiter=\" \" --fields=1 | xargs --no-run-if-empty git show -m"

# difftastic
[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = distrobox enter dev -- difft --display inline "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[alias]
	dft = difftool
	dshow = "-c diff.external=\"distrobox enter dev -- difft --display inline --color always\" show -m --ext-diff"
	shft = "! git lo | fzf --ansi --no-sort --preview \"echo {} | cut --delimiter=' ' --fields=1 | xargs git dshow\" | cut --delimiter=\" \" --fields=1 | xargs --no-run-if-empty git dshow"

# magit forge
[github]
	user = jcronenberg
