[Desktop Entry]
Name=Start Windows 11
Comment=
Exec=virsh start win11
Icon=/home/jorik/.local/share/icons/custom/win11.png
Terminal=false
Type=Application
